@media screen and (max-width:70rem){
    header .container{
    display: flex;
    flex-direction: column;
    }

    .botao{
        margin-top: .5rem;
        width: 30rem;
    }

}

@media screen and (min-width:100rem){
    .descricao{
        width: 50%;
    }
}
